<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="${pageTitle}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
	<th:block th:insert="~{pagefragments.html :: header}">
	</th:block>
	<h1 th:text="${pageTitle}"></h1>
	<form method="post" th:object="${formData}" id="add_unit_form">
	<a th:text="#{category.all}" th:href="@{/category}">ALL CATEGORIES</a>
	   <span class="error" th:if="${#fields.hasErrors('*')}">ERRORS</span>
		<ul th:if="${#fields.hasErrors('*')}">
		  <li th:each="error : ${#fields.errors('*')}" th:text="${error}">ERROR</li>
		</ul>
		<p><span th:text="#{course}"></span>:
		<b th:text="${course.name}"></b></p>
		<table>
			<tr>
				<td><label th:text="#{unit.name}"></label></td>
				<td><input type="text" id="unit_name" name="unit_name" th:field="*{name}" />
				<span class="error" th:text="${requiredError}"></span></td>
			</tr>
            <tr>
                <td><label th:text="#{unit.description_optional}"></label></td>
                <td><textarea type="text" id="unit_description" name="unit_description" th:field="*{description}"></textarea></td>
            </tr>
            <tr>
                <td><label th:text="#{unit.sequence_number}"></label></td>
                <td><input type="text" id="unit_sequence_number" name="unit_sequence_number" th:field="*{sequenceNumber}" /></td>
            </tr>
			<tr>
				<td></td>
				<td>
				<table>
				<tr>
				<td><input type="submit" th:value="#{save}" /></td>
				<td><div th:if="${formData.chapterId > 0}"> 
                <input type="button" th:value="#{delete}"
                th:data-id="${formData.chapterId}"
                th:data-action="@{/unit/delete/}"
                th:data-msg="#{confirm.delete_unit}" 
                onclick="return fnConfirmRedirectId(this.getAttribute('data-msg'), this.getAttribute('data-action'), this.getAttribute('data-id'));" />
                </div></td>
				</tr>
				</table>
				</td>
			</tr>
		</table>
		<input type="hidden" th:field="*{chapterId}" name="chapterId" id="chapterId" />
		<input type="hidden" th:field="*{courseId}" name="courseId" id="courseId" />
	</form>

	<th:block th:insert="~{pagefragments.html :: footer}">
	</th:block>
</body>
</html>