<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="${chapter.name}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
    <th:block th:insert="~{pagefragments.html :: header}"> </th:block>
    
    <p>
    <a th:href="@{/category/}" th:text="#{category.all}">ALL CATEGORIES</a> /
    <span th:each="cp : ${categoryPath}">
        <a th:href="@{/category/{id}(id=${cp.id})}" th:text="${cp.name}">CATEGORY NAME</a> /
    </span>
    </p>

    <h1><a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}"></a> </h1>

<table>
<tr>
    <td>
    <p><a th:href="@{/course/edit/{id}(id=${course.id})}" th:text="#{course.edit}">EDIT COURSE</a></p>
    <p><a th:href="@{/unit/add/{id}(id=${course.id})}" th:text="#{unit.create}"></a></p>
    <p><a th:href="@{/unit/edit/{id}(id=${chapter.id})}" th:text="#{chapter.edit}">EDIT CHAPTER</a></p>
    <p><a th:href="@{/lecture/add/{id}(id=${chapter.id})}" th:text="#{lecture.add}">ADD LECTURE</a></p>
    </td>
</tr>
</table>    
    
    
    
    <h2 th:text="${chapter.name}"></h2>

    <div><th:block th:utext="${chapter.description}" /> </div>
    
    <p th:each="lecture : ${chapter.lectures}">
        <a th:href="@{/lecture/{id}(id=${lecture.id})}" th:text="${lecture.name}">LECTURE NAME</a> 
    </p>
    
    <th:block th:insert="~{pagefragments.html :: footer}"> </th:block>
</body>
</html>