<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{test.edit_page_title}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
	<th:block th:insert="~{pagefragments.html :: header}">
	</th:block>
    <p>
    <a th:href="@{/category/}" th:text="#{category.all}">ALL CATEGORIES</a> /
    <span th:each="cp : ${categoryPath}">
        <a th:href="@{/category/{id}(id=${cp.id})}" th:text="${cp.name}">CATEGORY NAME</a> /
    </span>
    </p>
	<h1 th:text="#{test.edit_page_title}"></h1>
	<form method="post" th:object="${formData}" id="add_lecture_form">

		<p><span th:text="#{course}"></span>:
		<a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}"></a></p>
		
		<p><span th:text="#{unit}"></span>:
        <a th:href="@{/unit/{id}(id=${chapter.id})}" th:text="${chapter.name}"></a></p>
        
        <p><span th:text="#{lecture}"></span>:
        <a th:href="@{/lecture/{id}(id=${lecture.id})}" th:text="${lecture.name}"></a></p>
        
		<table>
			<tr>
				<td><label th:text="#{test.attach_to_lecture}"></label></td>
				<td>
				<select th:field="*{lectureId}" id="lecture_of_test" name="lecture_of_test">
				<optgroup th:each="unit : ${course.chapters}" th:label="${unit.name}">
				    <option th:each="lec : ${unit.lectures}" th:value="${lec.id}" th:text="${lec.name}"/>
				</optgroup>
				</select>
				<span class="error" th:text="${alreadyContainsTest}"></span>
				</td>
			</tr>
 			<tr>
				<td></td>
				<td>
				<table>
				<tr>
				<td><input type="submit" th:value="#{save}" /></td>
				<td><div th:if="${formData.testId > 0}"> 
                <input type="button" th:value="#{delete}"
                th:data-id="${formData.testId}"
                th:data-action="@{/test/delete/}"
                th:data-msg="#{confirm.delete_test}" 
                onclick="return fnConfirmRedirectId(this.getAttribute('data-msg'), this.getAttribute('data-action'), this.getAttribute('data-id'));" />
                </div></td>
				</tr>
				</table>
				</td>
			</tr>
		</table>
		<input type="hidden" th:field="*{testId}" name="testId" id="testId" />
		<input type="hidden" th:field="*{lectureId}" name="lectureId" id="lectureId" />
		
		<a th:href="@{/question/add/{testId}(testId=*{testId})}" th:text="#{test.add_question}">ADD QUESTION</a>
		
		<!-- questions -->
		<th:block th:if="${questions != null && questions.size() > 0}">
		<h3 th:text="#{test.questions_of_this_test}"></h3>
		<table width="100%" style="padding:0px">
		  <tr th:each="q : ${questions}">
		  <td style="border-top:1px darkgray dashed;width:95%;">
		  <p><b th:text="${q.text}"></b></p>
		  </td>
		  <td style="text-align:center;vertical-align:middle;border-top:1px darkgray dashed;">
		  <a th:href="@{/question/edit/{id}(id=${q.id})}" th:text="#{edit}">EDIT</a>
		  </td>
		  <td style="text-align:center;vertical-align:middle;border-top:1px darkgray dashed;">
		  <a href="javascript:void(0);" th:text="#{delete}"
		  th:data-id="${q.id}"
                th:data-action="@{/questionservice/delete/}"
                th:data-msg="#{confirm.delete_question}" 
                onclick="return fnConfirmRedirectId(this.getAttribute('data-msg'), this.getAttribute('data-action'), this.getAttribute('data-id'));">DELETE</a>
          </td>
		  </tr>
		</table>
        </th:block>
	</form>

	<th:block th:insert="~{pagefragments.html :: footer}">
	</th:block>
</body>
</html>