<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Edit/Add question -->
<head>
<title th:text="#{question.edit_page_title}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
<script type="text/javascript" th:src="@{/static/script/answersbuilder.js}"></script>
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<script type="text/javascript" th:src="@{/static/script/rcmanager.js}"></script>
<link th:href="@{/static/css/answersbuilder.css}" rel="stylesheet" /> 
</head>
<body>
	<th:block th:insert="~{pagefragments.html :: header}">
	</th:block>
	<h3 th:text="#{question.edit_page_title}"></h3>
	<form method="post" th:object="${formData}" id="add_lecture_form">
	   <table style="width:100%">
	       <tr>
	       <td valign="top">
		       <table cellspacing="3">
		           <tr>
		               <td><span th:text="#{course}"></span>:</td>
		               <td><a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}"></a></td>
		           </tr>
		           <tr>
		               <td><span th:text="#{unit}"></span>:</td>
		               <td><a th:href="@{/unit/{id}(id=${chapter.id})}" th:text="${chapter.name}"></a></td>
		           </tr>
		           <tr>
		               <td><span th:text="#{lecture}"></span>:</td>
		               <td><a th:href="@{/lecture/{id}(id=${lecture.id})}" th:text="${lecture.name}"></a></td>
		           </tr>
		           <tr>
		               <td><span th:text="#{test}"></span>:</td>
		               <td><a th:href="@{/test/edit/{id}(id=${testId})}" th:text="#{lecture.edit_test}">EDIT TEST</a></td>
		           </tr>
		            <tr>
		                <td><label th:text="#{question.text_of_question}"></label></td>
		                <td>
		                <textarea id="text_of_question" name="text_of_question" th:field="*{question.text}"></textarea>
		                </td>
		            </tr>
		            <tr>
		                 <td><label th:text="#{question.question_type}"></label></td>
		                 <td>
		                 <select id="question_type" th:field="*{question.questionType}">
		                 <option th:each="qt : *{questionTypes}" th:value="${qt.id}" th:text="${qt.name}">QUESTION TYPE</option>
		                 </select>
		                 </td>
		            </tr>
		            <tr>
		            <td colspan="2">
		            
		            </td>
		            </tr>
		            <tr>
		                <td></td>
		                <td>
		                <table>
		                <tr>
		                <!-- save through REST service -->
		                <td><input type="button" th:value="#{save}" onclick="saveDTO();" />
		                    
		                </td>
		                <td><div th:if="${questionId > 0}"> 
		                <input type="button" th:value="#{delete}"
		                th:data-id="${questionId}"
		                th:data-action="@{/questionservice/delete/}"
		                th:data-msg="#{confirm.delete_question}" 
		                onclick="return fnConfirmRedirectId(this.getAttribute('data-msg'), this.getAttribute('data-action'), this.getAttribute('data-id'));" />
		                </div></td>
		                </tr>
		                
		                </table>
		                </td>
		            </tr>
		            <tr>
		                <td>&nbsp;</td>
		                <td>
		                    <p id="http_error_message" class="error"></p>
		                    <p id="status_message" class="status-message"></p>
		                </td>
		            </tr>
		        </table>
	       </td>
		        <td style="width:25%;vertical-align: top;">
			       <!-- manage resources -->
			       <th:block th:if="${formData.lectureId > 0}">
			       <div id="lecture_resource_manager"></div>
			       </th:block>
		       </td>
   	       </tr>
	   </table>
		<input type="hidden" th:value="${questionId}" name="questionId" id="questionId" />
		<input type="hidden" th:value="${testId}" name="testId" id="testId" />
		<input type="hidden" th:value="${lectureId}" name="lectureId" id="lectureId" />
		
		<div id="answers_builder">
		</div>

		
		<p>
		<a th:href="@{/question/add/{testId}(testId=*{testId})}" th:text="#{test.add_another_question}">ADD QUESTION</a>
		</p>
<div id="out">
</div>
<!-- 
<input type="button" value="Serialize" onclick="document.getElementById('out').innerText = JSON.stringify(makeDTO());" />
 -->
 
<script th:inline="javascript">
    /*<![CDATA[*/
    var apiUrl = /*[[@{/questionservice/save}]]*/"";
    var savedMessage = /*[[#{message.saved}]]*/"Saved";
   /*]]>*/
</script>

<script type="text/javascript">
var builder = new AnswersBuilder("answers_builder", 
        {'orderNumberFieldCSSClass' : "answer-order-number-field",
        'answerTextFieldCSSClass' : "answer-text-field",
        'trueFalseCheckBoxCSSClass' : "true-false-checkbox",
        'tableCSSClass' : "ansers-builder-table"
        }
        );
</script>

<th:block th:each="a : *{question.answers}">
<script th:inline="javascript">
/*<![CDATA[*/
builder.addAnswer(/*[[${a.id}]]*/-1, /*[[${a.sequenceNumber}]]*/-1, /*[[${a.answer}]]*/"", /*[[${a.valid}]]*/false);
/*]]>*/
</script>
</th:block>
<script type="text/javascript">
function showError(msg) {
	var errObject = document.getElementById('http_error_message');
	errObject.innerText = msg;
	errObject.style.display = 'block';
    setTimeout(function() {document.getElementById('http_error_message').style.display='none';}, 5000);
}

function showMessage(msg) {
    var errObject = document.getElementById('status_message');
    errObject.innerText = msg;
    errObject.style.display = 'block';
    setTimeout(function() {document.getElementById('status_message').style.display='none';}, 5000);
}

function loadFromDTO(str) {
	var question = JSON.parse(str);
	document.getElementById('questionId').value = question.id;
	document.getElementById('testId').value = question.testId;
	document.getElementById('text_of_question').value = question.text;
	document.getElementById('question_type').value = question.questionType;
	builder.deserialize(question);
}

function makeDTO() {
    var questionId = Number.parseInt(document.getElementById('questionId').value);
    if (isNaN(questionId) || questionId < 0)
        questionId = -1;
    var testId = Number.parseInt(document.getElementById('testId').value);
    if (isNaN(testId) || testId < 0)
    	testId = -1;
    var questionText = document.getElementById('text_of_question').value;
    var sel = document.getElementById('question_type');
    var questionType = sel.options[sel.selectedIndex].value;
    return builder.serialize(testId, questionId, questionText, questionType);
}

function saveDTO() {
	var xhr = new XMLHttpRequest();
	xhr.open('POST', apiUrl);
	xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
	xhr.send(JSON.stringify(makeDTO()));
	xhr.onload = function() {
		if (!(xhr.status >= 200 && xhr.status < 300)) { // OK 200 or 201 CREATED
		    showError("Error " + xhr.status + " " + xhr.statusText);
		} else {
			showMessage(savedMessage);
			loadFromDTO(xhr.responseText);
		}
	};
	xhr.onerror = function() {
	    showError('Connection error');
	};
}
</script>

    <script type="text/javascript"  th:if="${formData.lectureId > 0}">
    var resourceManager = new ResourceManager('lecture_resource_manager', {
        'lectureId' : "[[*{lectureId}]]",
        'uploadService' : "[[@{/uploadservice/uploadimage/lecture}]]",
        'deleteService' : "[[@{/uploadservice/deleteimage}]]",
        'loadListService' : "[[@{/uploadservice/getimages/lecture}]]",
        }
    );
    </script>
    <script type="text/javascript">
     CKEDITOR.replace('text_of_question');
    </script>

    </form>

	<th:block th:insert="~{pagefragments.html :: footer}">
	</th:block>
</body>
</html>