<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="${course.name}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
    <th:block th:insert="~{pagefragments.html :: header}"> </th:block>
    
    <p>
    <a th:href="@{/category/}" th:text="#{category.all}">ALL CATEGORIES</a> /
    <span th:each="cp : ${categoryPath}">
        <a th:href="@{/category/{id}(id=${cp.id})}" th:text="${cp.name}">COURSE NAME</a> /
    </span>
    </p>
<table>
<tr>
    <td>
    <p><a th:href="@{/course/edit/{id}(id=${course.id})}" th:text="#{course.edit}">EDIT COURSE</a></p>
    </td>
    <td>
    <p>
    <a th:href="@{/unit/add/{courseId}(courseId=${course.id})}" th:text="#{unit.create}"></a>
    </p>
    </td>
</tr>
</table>
    
    <h1 th:text="${course.name}"></h1>

    <div><th:block th:utext="${course.description}" /> </div>
    
    <th:block th:each="unit : ${chapters}">
	    <h2>
	        <a th:href="@{/unit/{id}(id=${unit.id})}" th:text="${unit.name}">UNIT</a>
	    </h2>
	    <p th:if="unit.description != null" th:utext="${unit.description}"></p>
	    <ul>
	    <th:block th:each="lec : ${unit.lectures}">
	        <h3>
	            <a th:href="@{/lecture/{id}(id=${lec.id})}" th:text="${lec.name}">LECTURE</a>
	        </h3>
	        <p th:utext="${lec.description}"></p>
	    </th:block>
	    </ul>
    </th:block>
	<th:block th:insert="~{pagefragments.html :: footer}"> </th:block>
</body>
</html>