<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="${course.name}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
    <th:block th:insert="~{pagefragments.html :: header}"> </th:block>
<table style="width:100%; height: 100%;">
<tr>
	<td valign="top" style="width:90%;">
	<!-- CONTENT -->
	    <h2 th:text="${course.name}"></h2>

        <div><th:block th:utext="${course.description}" /> </div>
    
	    <th:block th:each="unit : ${chapters}">
	        <h3>
	            <a th:href="@{/unit/{id}(id=${unit.id})}" th:text="${unit.name}">UNIT</a>
	        </h3>
	        <p th:if="unit.description != null" th:utext="${unit.description}"></p>
	        <ul>
	        <th:block th:each="lec : ${unit.lectures}">
	            <h4>
	                <a th:href="@{/lecture/{id}(id=${lec.id})}" th:text="${lec.name}">LECTURE</a>
	            </h4>
	            <p th:utext="${lec.description}"></p>
	        </th:block>
	        </ul>
	    </th:block>
	</td>
	<td valign="top">
        <div id="page-management-menu">
        <p style="white-space:nowrap;"><b th:text="#{header.content_management}"></b></p>
        <p><a th:href="@{/course/edit/{id}(id=${course.id})}" th:text="#{course.edit}">EDIT COURSE</a></p>
        <p><a th:href="@{/unit/add/{courseId}(courseId=${course.id})}" th:text="#{unit.create}"></a></p>
        </div>
    </td>
</tr>
</table>    

	<th:block th:insert="~{pagefragments.html :: footer}"> </th:block>
</body>
</html>