<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="${course.name}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
    <th:block th:insert="~{pagefragments.html :: header}"> </th:block>
    
    <p>
    <a th:href="@{/category/}" th:text="#{category.all}">ALL CATEGORIES</a> /
    <span th:each="cp : ${categoryPath}">
        <a th:href="@{/category/{id}(id=${cp.id})}" th:text="${cp.name}">COURSE NAME</a> /
    </span>
    </p>
    
    <p><a th:href="@{/course/edit/{id}(id=${course.id})}" th:text="#{course.edit}">EDIT COURSE</a></p>
    
    <h1 th:text="${course.name}"></h1>

    <div><th:block th:text="${course.description}" /> </div>
    
    <a th:href="@{/unit/add/{courseId}(courseId=${course.id})}" th:text="#{unit.create}"></a>
    
    <p th:each="unit : ${chapters}">
    <a th:href="@{/unit/{id}(id=${unit.id})}" th:text="${unit.name}"></a>
    </p>

	<th:block th:insert="~{pagefragments.html :: footer}"> </th:block>
</body>
</html>