@charset "UTF-8";
.answers-builder {
    width:600px;
}

.ansers-builder-table {
    width:100%;
    border: 1px dashed darkgray;
    border-collapse: collapse;
}

.ansers-builder-table th {
    border: 1px dashed darkgray;
    border-collapse: collapse;
    padding:5px;
}

.ansers-builder-table td {
    border: 1px dashed darkgray;
    border-collapse: collapse;
    padding:5px;
}

.answer-order-number-field {
    width:40px;
}

.answer-text-field {
    width:100%;
}

.true-false-checkbox {
    width:100%;
    height:100%;
}
