body {
	background-color: rgb(255, 255, 255);
	font-family: Verdana, Arial, serif;
	margin: 0px;
	padding: 0px;
}

.mainframe {
	background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    width: 100%;
    height: 100%;
    border-collapse: collapse; 
    border-spacing: 0;
}

.mainframe td {
	padding: 0px;
	margin: 0px;
}

.logobox {
	background-color: rgb(205, 171, 143);
	height: 50px;
	width: 100%;
}

.error {
    color: rgb(205, 0, 0);
}

.category_row {
	margin-left:30px;
}

.status-message {
	color: blue;
}

#page-management-menu {
	width:200px;
	border-style: solid;
	border-width: 1px;
	border-color: darkgray;
	padding: 3px;
	margin:10px;
}

.run-test-container {
	width: 100%;
	border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    padding: 3px;
}

.true-answer-cell {
	text-align:center;
	white-space:nowrap;
	min-width:50px;
	height:50px;
	background: rgb(105, 231, 57);
}

.false-answer-cell {
	text-align:center;
	white-space:nowrap;
    min-width:50px;
    height:50px;
    background: #f6b1b1;
}

#lecture_name_text_field {
	width:90%;
}

#lecture_sequence_number_field {
	width:120px;
}