<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="${category.name}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
    <th:block th:insert="~{pagefragments.html :: header}"> </th:block>
    
    <p>
    <a th:href="@{/category/}" th:text="#{category.all}">ALL CATEGORIES</a> /
    <span th:each="cp : ${categoryPath}">
        <a th:href="@{/category/{id}(id=${cp.id})}" th:text="${cp.name}">CATEGORY NAME</a> /
    </span>
    </p>
    
    <h1 th:text="${category.name}"></h1>

    <div><th:block th:text="${category.description}" /> </div>

    <a th:href="@{/category/add}" th:text="#{category.add}"></a>
    
    <!-- existing categories -->
    
    <section th:insert="~{@{categorytreefragment} :: category}" th:with="maincategories=${categories}"></section>
    
    <!-- courses -->
    <a th:href="@{/course/add/{categoryId}(categoryId=${category.id})}" th:text="#{course.create}">ADD COURSE</a>
    <h2 th:if="${courses != null}" th:text="#{category.courses_in_this_category}"></h2>
    
    <p th:each="c : ${courses}"><a th:href="@{/course/{id}(id=${c.id})}" th:text="${c.name}"></a></p>
    
    
	<th:block th:insert="~{pagefragments.html :: footer}"> </th:block>
</body>
</html>