<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{register}"></title>
<th:block th:insert="~{pagefragments.html :: pagehead}"> </th:block>
</head>
<body>
    <th:block th:insert="~{pagefragments.html :: header}"> </th:block>
    
    <form method="post" th:action="@{/register}" id="registerForm">
    <table width="100%">
       <tr>
           <td width="33%">
           </td>
           <td width="33%" align="center">
           	<h1 th:text="#{register}">Register</h1>
            <table>
                <tr>
                    <td><label for="username" th:text="#{username}">Username: </label></td>
                    <td><input type="text" name="username" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="password" th:text="#{password}">Password: </label></td>
                    <td><input type="password" name="password" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="confirm" th:text="#{confirm_password}">Confirm password: </label></td>
                    <td><input type="password" name="confirm" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="surname" th:text="#{surname}">Surname: </label></td>
                    <td><input type="text" name="surname" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="firstName" th:text="#{firstname}">First name: </label></td>
                    <td><input type="text" name="firstName" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="middleName" th:text="#{middlename}">Middle name: </label></td>
                    <td><input type="text" name="middleName" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" th:value="#{register}" /></td>
                    <td></td>
                </tr>
            </table>
				<p><a th:href="@{/login}" th:text="#{login}" ></a></p>	
				</td>
	           <td width="33%">
	           </td>
	       </tr>
	    </table>
    </form>
    <th:block th:insert="~{pagefragments.html :: footer}"> </th:block>
</body>
</html>